// COLORS

$btn-text: #FFFFFF;
$block: #FFFFFF;
$link: #005BFF;
$input-border: #96A3AE;
$main-wrapper: #FDFDFD;
$input-color: #001A34;
$pagination: #F66F4D;
$pagination-active: rgba(246, 111, 77, 0.15);
