@import "auth";
@import "sidebar";
@import "footer";
@import "header";
@import "clients";
@import "services";
@import "quotas";
@import "booking";
@import "index";
@import "modal";

.free-wrapper {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #F3F4F6;
}

.main-wrapper {
  display: flex;
  justify-content: flex-start;
  background: $main-wrapper;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}

.content-wrapper {
  width: 1460px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.filter-items {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  .item {
    font-family: 'DIN Pro', serif;
    color: #2D3134;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 14px;
    cursor: pointer;
  }

  .item.active {
    border: 1px solid #EAEAEA;
  }
}

.statistics,
.statistics-revert {
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .infos {
      font-family: 'DIN Pro', serif;

      .value {
        font-weight: 600;
        font-size: 32px;
        color: #2D3134;
      }

      .type {
        font-weight: 400;
        font-size: 15px;
        color: #717579;
        margin-top: 5px;
      }
    }

    .icon {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 24px;
      // padding: 26px 28px;
      background: linear-gradient(180deg, rgba(246, 111, 77, 0.15) 0%, rgba(246, 111, 77, 0.06) 100%);
      border-radius: 24px;
    }
  }
}

.statistics-revert {
  .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .infos {
      margin-left: 35px;
    }
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  .filter-items {
    width: initial;
  }
}


.tabs {
  display: flex;
  justify-content: flex-start;

  .tab-item {
    padding: 10px 10px;
    cursor: pointer;

    &.active {
      border-left: 1px solid #dee2e6;
      border-right: 1px solid #dee2e6;
      border-top: 1px solid #dee2e6;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}

.table-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

// Data page !!!!!

.data_block {
  width: 100%;
  height: 1062px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
  border-radius: 24px;
  padding: 25px;
}


select {
  height: 45px;
  width: 250px;
}

.inp_year {
  width: 250px;
  height: 45px;
  background-image: url(../images/calendar_mig.svg);
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 9px;
}

.inp_year::placeholder {
  color: #001A34;
}

.button_data_check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 54px;
  background: #EB564C;
  border-radius: 14px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.button_data_add {
  width: 228px;
  height: 53px;
  background: #23C6C8;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.inputs_data {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.inputs_data_i {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: flex-end;
}

.table_stat {
  width: 1000px;
  margin-top: 4rem;

  .table_stat_h {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;

    div {
      width: 66px;
      font-size: 14px;
      text-align: center;
      font-weight: 400;
      color: black;
    }
  }

  input {
    width: 66px;
    height: 25px;
    padding: 0;
    border: 1px solid #F1C3C3;
    border-radius: 6px;
    text-align: center;
    padding-right: 10px;
    font-size: 12px;
  }

  .inp_green{
    border: 1px solid #B5E5B7 !important;
  }
}

.table_stat_line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}